#topnavbar {
  color: #0000FF;
  background-color: #0000FF;
  top: 0;
}

.topnav {
  color: white;
  background-color: blue;
}

.topbar {
  color:black;
  background-color:rgb(105, 92, 218);
  padding: 15px 32px;
}