#topnavbar {
  color: #0000FF;
  background-color: #0000FF;
  top: 0;
}

.topnav {
  color: white;
  background-color: blue;
}

.topbar {
  color:black;
  background-color:rgb(105, 92, 218);
  padding: 15px 32px;
  float:left;
}

#logo {
  left:0;
  top:0;
  float:left
}

#top-intro {
  background-color:slateblue;
  bottom:0;
  left:0;
}